table {
  border-collapse: collapse;
  overflow-y: scroll;
  display: table-header-group;
  flex-direction: column;
}

table button {
  margin-left: 20px;
}

td, th {
  border: 1px solid #999;
  padding: 0.5rem;
  text-align: left;
}

h1, h2 {
  text-align: center;
}

body {
  text-align: center;
}

.table-container {
  padding-top: 50px;
  height: 200px;
  overflow: scroll;
  display: flex;
  justify-content: center;
}