table {
  border-collapse: collapse;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  /* max-height: 300px; */
  /* display: flex;
  flex-wrap: wrap; */
}
table, tbody {
  /* overflow-y: scroll;
  max-height: 150px; */
}
td, th {
  border: 1px solid #999;
  padding: 0.5rem;
  text-align: left;
}
h1, h2 {
  text-align: center;
}
body {
  text-align: center;
}
.table-container {
  padding-top: 50px;
  height: 200px;
  overflow: scroll;
  display: flex;
  justify-content: center;


}
